@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #5F30E2;
    padding: 10px;
    color: white;
}

.nav-brand > h1{
    margin-left: 20px;
    font-size: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .container {
    width: 1024px;
    border-radius: 8px;
    margin: 16px;
    background: #F8F9FA;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}

.container-header {
    font-size: 15px;
}

.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    margin-bottom: unset;
    font-size: 16px;
}

.item > .inner p {
    margin-top: 5px;
    font-size: 14px;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    height: 300px;
    border-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: lighter;
}

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

input[type=text], input[type=date] {
    font-family: Raleway, sans-serif;
    background: #F5F1FF;
    border: 2px solid #9475EA;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 14px;
}

.btn-submit {
    width: fit-content;
    font-family: Raleway, sans-serif;
    border-radius: 16px;
    padding: 12px 24px;
    border: 2px solid #5F30E2;
    color: black;
    font-size: 12px;
    margin-top: auto;
    align-self: flex-end;
    cursor: pointer;
}

.btn-submit:hover {
    background: #5F30E2;
    color: white;
}

input[type=text], input[type=date], .btn-submit:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}

.check-button {
    width: 20px;
    height: 20px;

    background: url('../assets/check-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
}

.trash-button {
    width: 20px;
    height: 20px;

    background: url('../assets/trash-outline.svg');
    background-size: cover;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.undo-button {
    width: 20px;
    height: 20px;

    background: url('../assets/undo-ouline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
}

.check-button:focus, .trash-button {
    outline: none;
}


@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }

    .wrapper .container {
        width: 100%;
    }

    .list-item {
        width: 90%;
    }

    .form {
        width: 100%;
    }
}

/* Responsive */
@media screen and (min-width: 350px){
    .form-group label {
        font-size: 16px;
    }
    input[type=text], input[type=date] {
        font-size: 15px;
    }
    .btn-submit {
        font-size: 14px;
    }
    .container-header {
        font-size: 16px;
    }

    .item > .inner h2 {
        font-size: 16px;
    }
    
    .item > .inner p {
        font-size: 14px;
    }

    .check-button, .trash-button, .undo-button {
        width: 22px;
        height: 22px;
    }

    .nav-brand > h1{
        font-size: 22px;
    }
}

@media screen and (min-width: 650px){
    .form-group label {
        font-size: 18px;
    }
    input[type=text], input[type=date] {
        font-size: 16px;
    }
    .btn-submit {
        font-size: 16px;
    }
    .container-header {
        font-size: 18px;
    }

    .item > .inner h2 {
        font-size: 18px;
    }
    .item > .inner p {
        font-size: 16px;
    }

    .check-button, .trash-button, .undo-button {
        width: 25px;
        height: 25px;
    }

    .nav-brand > h1{
        font-size: 25px;
    }
}

@media screen and (min-width: 800px){
    .form-group label {
        font-size: 20px;
    }
    input[type=text], input[type=date] {
        font-size: 18px;
    }
    .btn-submit {
        font-size: 18px;
    }
    .container-header {
        font-size: 20px;
    }

    .item > .inner h2 {
        font-size: 20px;
    }
    .item > .inner p {
        font-size: 18px;
    }

    .check-button, .trash-button, .undo-button {
        width: 28px;
        height: 28px;
    }

    .nav-brand > h1{
        font-size: 28px;
    }
}

@media screen and (min-width: 1000px){
    .form-group label {
        font-size: 22px;
    }
    input[type=text], input[type=date] {
        font-size: 20px;
    }
    .btn-submit {
        font-size: 20px;
    }
    .container-header {
        font-size: 22px;
    }

    .item > .inner h2 {
        font-size: 22px;
    }
    .item > .inner p {
        font-size: 20px;
    }

    .check-button, .trash-button, .undo-button {
        width: 30px;
        height: 30px;
    }

    .nav-brand > h1{
        font-size: 30px;
    }
}
